*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $fontFamily;
    color: $textcolor;
    font-size: 4 + $fs-value;
    line-height: 1.4;
    letter-spacing: -0.02em;
}
img {
    max-width: 100%;
}
ul li,
ol li {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}
code {
    font-size: 85%;
    color: inherit;
    word-break: break-word;
}
code,
kbd,
pre,
samp {
    font-family: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
p,
ul,
ol {
    margin-bottom: 0;
   
}
li{
    list-style: none;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    &::-webkit-color-swatch {
        border: none;
    }
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
