$fontFamily: 'DM Sans', sans-serif;

$textcolor:#222;
$textcolor1: #777E91;
$secondarycolor: #F6F6F6;
$GreyBgcolor:#F6F4F8;
$borderColor:#E0E0E0;
$primaryColor:#965EFB;
$primaryColor1: #6B17FF;
$primaryColor2:#7F11F6;
$whiteColor:#fff;
$boxShadow:0px 0px 24px rgba(0, 0, 0, 0.1);

$fw-100:100;
$default:10px;
$fs-value:10px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
